<div id="AccountantModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="AccountantModalLabel" aria-hidden="true">
	<div class="input">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="AccountantModalLabel">Save Time &mdash; Invite Your Clients!</h3>
			<p class="info">Invite your clients to use Intuit Easy Paycheck  to pay employees--for free. The paycheck details automatically roll into your Intuit Payroll saving YOU tons of valuable time and making reconciliation and taxes a breeze!</p>
		</div>
		<form id="accountant-form" method="post" action="{% url 'auth_login_async' %}">
			<div class="modal-body">
		    	{% include "snippets/form.html" with legend='' form=accountant_form %}
				<div class="form-line">
		    	<p class="spaced">
					<button id="btn-send-accountant" type="submit" class="btn btn-primary disabled">Send</button>
					<button class="btn" data-dismiss="modal" aria-hidden="true" style="margin-left:10px;">Cancel</button>
				</p>
				</div>
		  </div>
		</form>
	</div>	
	<div class="result hide">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		</div>
		<div class="modal-body" style="text-align:center">
			<div class="modal-legend">
				<img src="{{STATIC_URL}}img/big_check.png" alt="Check" />
				<h4>Woohoo! Your invitations were sent successfully!</h4>
			</div>
			<p>
				<button class="btn btn-primary btn-ok" data-dismiss="modal" aria-hidden="true">OK</button>
			</p>
		</div>
	</div>
</div>
