<div id="SavePaycheckModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="SavePaycheckModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3>Sure you want to exit without saving?</h3>
	</div>
	<div class="modal-body">
		<div class="history">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th width="20%">Pay Date <span class="caret"></span></th>
					<th width="40%">Employee</th>
					<th width="25%" class="amount">Net Pay Amount</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="save-pay-date">12/12/2013</td>
					<td class="save-employee">Eva Nazarewick</td>
					<td class="save-net-pay amount"><strong>$ 1,555.24</strong></td>
				</tr>
			</tbody>
		</table>
		
		</div>
    	<div class="actions"> 
			<button id="btn-exit" class="btn btn-primary">Yes</button>
			<button class="btn" data-dismiss="modal" aria-hidden="true" style="margin-left:10px;">No</button>
		</div>
  </div>
</div>
